/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img {
  max-width 450px!important
}

h1
  font-family: ibm-plex-thai, sans-serif
  font-weight: 800
  font-style: normal


h2, h3, h4, h5
  font-family: ibm-plex-thai, sans-serif
  font-weight: 500
  font-style: normal


p
    font-family: ibm-plex-thai-looped, sans-serif
  font-weight: 500
  font-style: normal


